.mytable {
    /* padding: 10px;
    
    border-collapse: collapse; */

    /* border: 1px solid black; */

    vertical-align: middle;

    display: table;
    /* border-collapse: separate;
    border-spacing: 2px;
    border-color: gray; */
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.my_th1 {
    text-align: left !important;
}

.my_th2 {
    text-align: center !important;
}

.my_td1 {
    vertical-align: middle;
}

.my_td2 {
    min-width: 64px;
    max-width: 128px;
    min-height: 64px;
    max-height: 128px;
    width: auto;
    height: auto;
    padding: 1px;
    vertical-align: middle;
}

td.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.my_span1 {
    text-align: left;
}

.my_td3 {
    width: auto
}

.mytable2 {
    border-collapse: collapse;
}


.mybtn {
    border-style: none;
    margin: 0px;
    margin-left: 10px;
    width: 280px;
    height: 50px;
    color: white;
}

.google {
    background-color: #ea4335;
}

.facebook {
    background-color: #3b5998;
}

.email {
    background-color: lightslategray;
}

.myspan_bold {
    font-weight: bold;
}

.myspan_text {
    font-weight: normal;
}

.vert_middle {
    vertical-align: middle;
}
