<!DOCTYPE html>
<html lang="zh-TW">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Vue 練習</title>

    <script src="./js/jquery-3.4.1.js"></script>
    <script src="./js/bootstrap.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

    <!-- axios 2.6.11 -->
    <script src="./js/axios.js"></script>
    <!-- vue 2.6.11 -->
    <script src="./js/vue-2.6.11.js"></script>
    <!-- pixi 5.2.4 -->
    <script src="./js/pixi.js"></script>

    <script src="./js/moment.js"></script>
    <script src="./js/moment-timezone.js"></script>

    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <div>
        <p><span>登入平台測試</span></p>

        <p>
          <label class="vert_middle">輸入帳號：</label>
          <input v-model="email" placeholder="email address">
          {{email}}
        </p>
        <p>
          <label class="vert_middle">輸入密碼：</label>
          <input v-model="password" type="password" placeholder="">
          {{password}}
        </p>
        <p>
          <button v-on:click="emailSignup" class="mybtn email">註冊</button>
        </p>
        <p>
          <button v-on:click="emailLogin" class="mybtn email">登入</button>
        </p>

        <p><button v-on:click="googleSingUp" class="mybtn google">以 Google 登入</button> </p>
        <p><button v-on:click="facebookSingUp" id="signin_fb_btn" class="mybtn facebook fb-login">以 Facebook 登入</button> </p>

        <p><button v-on:click="signOut" class="mybtn">登出</button> </p>
      </div>

      <div>
        <p><span>登入者資訊</span></p>
        <ul>
          <li><span class="myspan_bold">token</span> : {{token}}</li>
          <li><span class="myspan_bold">user </span> : {{user}}</li>

          <li><span class="myspan_bold">使用者名稱</span> - <span class="myspan_text"></span></li>
          <li><span class="myspan_bold">使用者郵件</span> - <span class="myspan_text"></span></li>
          <li><span class="myspan_bold">使用者生日</span> - <span class="myspan_text"></span></li>
        </ul>
      </div>

    </div>
    <script type="text/javascript" src="vue-app/index.js"></script>
  </body>

</html>
